.event_table {
  width: 100%;
}

.event_table tbody tr:nth-child(odd) {
  background-color: var(--white-dark);
}

.event_table tbody tr td {
  text-align: center;
  padding: 1rem 2rem;
}

.event_table tr td:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event_table tr td:last-child a {
  text-decoration: none;
  cursor: pointer;
  color: var(--black-normal);
  padding: 0.2rem 0.8rem;
}

.event_table tr td:last-child a:hover {
  color: var(--black-dark);
}

.event_table tr td:last-child a:last-child {
  color: var(--red-dark);
  margin-top: .5rem;
  padding: 0.2rem 0.8rem;
  transition: 0.2s;
}

.event_table tr td:last-child a:last-child:hover {
  color: var(--white-normal);
  background-color: var(--red-normal);
}

@media (max-width: 768px) {

  .event_table th,
  .event_table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .event_table tbody tr {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ddd;
  }
}