.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid var(--white-normal);
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.4rem;
  background: var(--white-dark);
  transition: 0.2s;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: var(--red-normal);
  background: var(--white-light);
  box-shadow: 0 0 0 .3rem var(--red-light), 0 0 0 .4rem var(--red-normal);
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: var(--red-dark);
  font-size: 0.875rem;
}