.header {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.logo img {
  height: 4rem; /* Altura do logo, ajuste conforme necessário */
}

.header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav {
  display: block;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav li {
  display: inline-block;
  margin-left: 20px;
}

.header nav li:first-child {
  margin-left: 0;
}

.header nav li a {
  color: #333;
  text-decoration: none;
}

.header .profile {
  margin-left: 2rem;
}

.header .profile img {
  height: 5rem; /* Altura da foto de perfil, ajuste conforme necessário */
  width: 5rem;
  border-radius: 50%;
  border: 2px solid var(--black-normal);
}


/* SIDENAV */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: .8rem .8rem .8rem 3.2rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}