.hero {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.hero_content {
  flex: 1;
  padding: 2rem;
  text-align: left;
}

.hero_content h2,
.hero_content p {
  margin-bottom: 2rem;
}

.hero a {
  color: var(--red-normal);
  border: 2px solid var(--white-normal);
  padding: .4rem .6rem;
  border-radius: .2rem;
  text-decoration: none;
  user-select: none;
  transition: .1s;
}

.hero a:hover {
  border: 2px solid var(--red-normal);
  color: var(--red-dark);
}

.hero_image_wrapper {
  flex: 1;
}

.hero_image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
}

/*---- MOBILE ----- */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem;
  }

  .hero_content {
    text-align: center;
  }

  .hero_image_wrapper {
    margin-top: 2rem;
  }
}