.login {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  position: relative;
}

.image_wrapper {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image_layer {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(224, 50, 88, 0.2);
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10rem;
}

.title {
  margin-bottom: 3.6rem;
}

.form {
  width: 40rem;
  height: 25rem;
  background-color: var(--white-normal);
  border-radius: .4rem;
}

.login a {
  display: inline-block;
  text-decoration: none;
  color: var(--red-normal);
  user-select: none;
  border-bottom: 2px solid var(--white-normal);
  margin-bottom: 1rem;
}

.login a:hover {
  border-bottom: 2px solid var(--red-normal);
  color: var(--red-normal);
}

.cadastro {
  margin-top: 5rem;
}

.arrow {
  position: absolute;
  top: 10;
  left: 10;
  border-bottom: none !important;
}

.arrow img {
  width: 5rem;
}

/*---- MOBILE ----- */
@media (max-width: 768px) {
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
  }

  .login_form,
  .form {
    width: 100%;
  }

  .login_form {
    padding: 0;
  }

  .image_wrapper {
    display: none;
  }

  .arrow {
    top: 2%;
    left: 2%;
  }
}