.footer {
  background: var(--red-normal);
  color: var(--white-normal);
  width: 100%;
}

.footer_content {
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 6rem 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.brand h4 {
  margin-top: 1rem;
}

.logo {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}

.logo,
.socialIcon {
  user-select: none;
}

.contact {
  margin-bottom: 1rem;
}

.contact span {
  color: var(--white-dark);
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  text-decoration: none;
}

.socialIcon {
  margin-right: 1rem;
}

.address span {
  color: var(--white-dark);
}

.copy {
  padding: 2rem 4rem;
  width: 100%;
  text-align: center;
}

.copy hr {
  max-width: 136.6rem;
  margin: 0 auto;
}

.copy p {
  margin-top: 2rem;
}

/*---- MOBILE ----- */
@media (max-width: 768px) {
  .footer_content {
    flex-direction: column;
    justify-content: space-around;
  }

  .brand {
    margin-bottom: 2rem;
  }

  .copy {
    padding: 2rem;
  }
}